:root{
    --primary-text-color: #757575;
    --secondary-text-color: #212121;
    --primary-white-color: #ffffff;
    --accent-color: #2196f3;
}

body{
    font-family: Roboto,sans-serif;
    font-size: 14px;
    color: var(--primary-text-color);
    letter-spacing: 0.03em;
    line-height: 1.71;
    background-color: var(--primary-white-color)
}
.list{
    list-style: none;
}

.link{
    text-decoration: none;
}
.accent{
    color: var(--accent-color);
}
/*---------------conteiner--------------- */
.conteiner{
   width: 1200px;
   padding-left: 15px;
   padding-right: 15px;
   margin: 0 auto;
 } 
.conteiner-main-nav {
    display: flex;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    height: 80px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}
/*-----------------header---------------- */
.header-nav{
    display: flex;
    margin-right: 50px;
}
.header-list {
    display: flex;
    margin-left: 90px;
    margin-top: 34px;
    margin-bottom: 34px;
 }
.header-item {
    margin-right: 30px;   
}
.header-list .header-item:last-child {
    margin-right: 0px;
} 
.nav-link{
    margin-bottom: 100px;
}
address {
    font-style: normal;
}
/*-------------------logo-------------------*/
.logo{
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color)  
}
/*-----------------portfoliobtn----------------*/
.portfolio-buttons-list {
    display: flex;
    flex-wrap: wrap;
}
.portfolio-button {
    margin-right: 8px;

}
.portfolio-buttons-list:last-child{
    margin-right: 0px;
}
.nav-link,
.contacts-link {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color)
}
.contacts-link {
    color: var(--primary-text-color)
}
/*--------------------hero--------------------*/
.hero{
    background-color: #2F303A;
    text-align: center;
    
    margin-bottom: 94px;
}
.hero-title {
    padding-top: 200px;
    margin-top: 0px;
    margin-bottom: 48px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-white-color)
    
}
/*-------------------btn---------------------*/
.button{
    display: inline-block;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    border: none;
    padding: 10px 32px ;
    border-radius: 4px;
    min-width: 130px;
    text-align: center;
    cursor: pointer;
}
/*------------------work---------------------*/
.work-list .work-item:last-child {
    margin-right: 0px;
}
.work-item {
    width: 380px;
}
.work-list {
    display: flex;
    padding-right: 40px;
    width: 1170px;
}
.work {
    margin-bottom: 94px;
}
.work-subtitle {
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--secondary-text-color)
}
.work-sub {
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
    color: var(--secondary-text-color)
}
.work-deskription {
    width: 270px;
    height: 75px;
}
/*-------------------about------------------*/
.about {
    margin-bottom: 94px;
    height: 386px;
}
.about-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.about-item{
    width: 370px;
    height: 294px;
}
/*-------------------title--------------------*/
.section-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
    text-align: center;
    color: var(--secondary-text-color)
}
/*--------------------team--------------------*/
.team{
    margin-bottom: 94px;
    padding-bottom: 10px;
}
.team-list{
    display: flex;
    width: 270px;
    height: 368px;
    padding: 15px;
}
.team-item{
    margin-right: 20px;
}
.team-list .team-item:last-child{
    margin-right: 0px;
}    
.team-list .team-item:first-child{
    margin-left: 0px;
}    
.team-top-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.88;
    color: var(--secondary-text-color)
}
.team-desc{
    font-size: 16px;
    line-height: 1.18;
    color: var(--primary-text-color);
}
/*--------------------footer------------------*/
.footer{
    background-color: #2F303A;
    height: 252px;
    padding-top: 65px;
    padding-bottom: 65px;
}
.footer .logo,
.address-link{
    color: var(--primary-white-color);
}
.footer .contacts-link{
    color: rgba(255, 255, 255, 0.6)
}
.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus,
.current{
    color: var(--accent-color);
}
/*-----------------portfolio-----------------*/
.portfolio {
    margin-bottom: 0px;
}
.portfolio-button.current {
   background-color: var(--accent-color);
   color: var(--primary-white-color)
}

.portfolio-button:hover,
.portfolio-button:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}
.portfolio-buttons-list {
    justify-content: center;
}
.portfolio-button {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    color: var(--secondary-text-color);
    border: none;
}
/*---------------work portfolio-----------------*/
.work-desc{
font-size: 16px;
line-height: 1.18;
color: var(--primary-text-color)
}
.work-deskription{
font-size: 14px;
color: var(--primary-text-color)
}
/*------------------flex--------------------*/
.flex-list{
   display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 50px;
}
.flex-item{
    width: 370px;
    height: 404px;
}
.flex-item:nth-child(3n) {
    margin-right: 0px;
}

